---
layout: blog
section_id: blog
---

<!-- THIS FILE IS JUST A DESIGN TEMPLATE, THE POSTS DATA ARE NOT DYNAMIC -->

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='masonry-container'>

      {% for post in paginator.posts %}
        <div class='masonry mod modBlogPost'>
          <div class='images'>
            {% if post.image %}
              <div class='image'><img alt="" src="{{site.url}}/{{post.image}}" /></div>
            {% endif %}
          </div>
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>
              {{post.excerpt}}
            </p>
            <div class='tags'>
                {% for cat in post.categories %}
                  <a href="#">{{cat}}</a>
                  {% unless forloop.last %}
                      ,
                  {% endunless %}
                {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
