---
layout: blog
section_id: blog
---

<!-- THIS FILE IS JUST A DESIGN TEMPLATE, THE POSTS DATA ARE NOT DYNAMIC -->

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='masonry-container'>

      {% for post in paginator.posts %}
        <div class='masonry mod modBlogPost'>
          <div class='images'>
            {% if post.image %}
              <div class='image'><img alt="" src="{{site.url}}/{{post.image}}" /></div>
            {% endif %}
          </div>
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>
              {{post.excerpt}}
            </p>
            <div class='tags'>
                {% for cat in post.categories %}
                  <a href="#">{{cat}}</a>
                  {% unless forloop.last %}
                      ,
                  {% endunless %}
                {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}



        <div class='masonry mod modBlogPost'>
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">A Post without image</a></h4>
            <p>
              Laboriosam labore recusandae voluptas autem incidunt. voluptatem voluptatem tenetur ab doloribus quos voluptate culpa et voluptatem. ipsa voluptatem dicta magnam eaque. asperiores qui incidunt praesentium et eaque quisquam tempore ut non non repellendus aut est atque
            </p>
            <div class='tags'>
              <a href="#">Design</a>
              ,
              <a href="#">Business</a>
            </div>
          </div>
        </div>
        <div class='masonry mod modBlogPost'>
          <a href="single.html"><img width="800" height="533" alt="" src="../images/@stock/blog-3.jpg" /></a>
          <div class='content'>
            <p class='date'>December 15, 2014</p>
            <h4><a href="#">Make some sketches</a></h4>
            <p>
              Esse ipsum maiores soluta odit autem sapiente. laboriosam qui veniam et culpa voluptatem nesciunt ut vel ipsa. sequi et culpa sunt facilis nesciunt vel id. maiores excepturi nihil incidunt quaerat nulla et omnis sint harum ea. doloremque repudiandae voluptatum quia. temporibus sed suscipit veniam. accusamus eveniet dolorum cupiditate
            </p>
            <div class='tags'>
              <a href="#">Design</a>
              ,
              <a href="#">Business</a>
            </div>
          </div>
        </div>
        <div class='masonry mod modBlogPost popin'>
          <div class='content'>
            <p class='date'>December 15, 2014</p>
            <h4><a href="#">The start</a></h4>
            <p>
              Dolor quis ad sit dolores dolor sit perferendis. nemo in rerum ducimus possimus aspernatur quas est. dolorem eaque vel id quasi voluptatem eligendi rerum et quo ut. fuga qui ea voluptates sunt. Nisi quas minima cumque et voluptate. et et iure nostrum necessitatibus et ipsam sed doloribus ab odio. voluptates velit et quaerat qui.
            </p>
            <div class='tags'>
              <a href="#">Design</a>
              ,
              <a href="#">Business</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
